<div class="container my-3">
  <form [formGroup]="matForm">
    <div class="row">
      <div class="col-sm-6 col-xs-12 col-md-4">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-xs-12 pt-3">
          <label class="mr-2">Select Range</label>
          <mat-slider min="1" max="10" step="1" value="1" thumbLabel formControlName="range" (change)="onChange($event)"></mat-slider>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid" *ngIf="resultedJson">
  <table class="table table-bordered">
    <thead class="">
      <tr class="text-center">
        <th>BUID</th>
        <th>ROUTEID</th>
        <th>START TIME</th>
        <th>NO OF CONFIRMED BOOKINGS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resultedJson" class="text-center" style="font-size: 14px;">
        <td>{{item.buid}}</td>
        <td>{{item.routeId}}</td>
        <td>{{item.routeStartTime | date:'MMM d, y, h:mm a'}}</td>
        <td>{{item.confirmedBookings.length}}</td>
      </tr>
    </tbody>
  </table>
</div>
